.all input{
    background-color: transparent;
    border-color: #c69f09;
}
.all label{
    color: #c69f09;
    font-weight: bold;
}
.all input:focus{
    color: #c69f09;
    background-color: transparent;
    border-color: #c69f09;
}
.all button{
    background-color: #c69f09;
    width: 50%;
    margin-right: 50%;
    color: #02202B;
}
.all button:hover{
    background-color: #f5c60e;
    color: #02202B;
}